<!doctype html>
<html layout:decorator="shared/layout"
	xmlns:th="http://www.thymeleaf.org">

<body>
        <th:block layout:fragment="header">
                <title>My Account || Shopping</title> 
        </th:block>
        
        <th:block layout:fragment="content">
            <!-- Start Breadcrumbs Area -->
        <div class="breadcrumbs-area section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="breadcrumbs text-center text-white">
                               <h3 class="text-uppercase">My Account</h3> 
                               <ul class="breadcrumbs-list">
                                    <li>
                                        <a href="index.html" title="Return to Home">Home</a>
                                    </li>
                                    <li>/</li>
                                    <li>My Account</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Of Breadcrumbs Area -->
            <!-- Start page content -->
            <section id="page-content" class="page-wrapper">
                <!-- Start Wishlist Area -->
                <div class="my-account-page section-padding">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="procced-checkout">
                                    <h4 class="procced-title text-uppercase pb-15 mb-20"><strong>Procced to Checkout</strong></h4>
                                    <p>Welcome to your account. Here you can manage all of your personal information and orders.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="addresses-lists">
                                <div class="col-xs-12 col-sm-6 col-lg-6">
                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingTwo">
                                                <h4 class="panel-title">
                                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                                        <i class="zmdi zmdi-format-list-numbered"></i>
                                                       <span>My credit Cards</span>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                <div class="panel-body">
                                                    <table class="table">
                                                    <th>Cards</th>
                                                    <tr style="font-weight: bold">
                                                        <td>Name on Card</td>
                                                        <td>Card Number</td>
                                                        <td>Expiration Date</td>
                                                        <td>Card Type</td>
                                                    </tr>

                                                    <tr>
                                                        <td th:text="${account.cards.nameOnCard}"></td>
                                                        <td th:text="${account.cards.cardNumber}"></td>
                                                        <td th:text="${account.cards.expirationDate}"></td>
                                                        <td th:text="${account.cards.cardType}"></td>
                                                    </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingThree">
                                                <h4 class="panel-title">
                                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                                        <i class="zmdi zmdi-folder-outline"></i>
                                                       <span>My addresses</span>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                <div class="panel-body">
                                             <div class="table-responsive">
                                                        <table class="table">
                                                            <th>Address</th>
                                                            <tr style="font-weight: bold">
                                                                <td>Street</td>
                                                                <td>House Number</td>
                                                                <td>Zip Code</td>
                                                                <td>City</td>
                                                                <td>State</td>
                                                            </tr>

                                                            <tr >
                                                                <td th:text="${account.address.street}"></td>
                                                                <td th:text="${account.address.houseNumber}"></td>
                                                                <td th:text="${account.address.zipCode}"></td>
                                                                <td th:text="${account.address.city}"></td>
                                                                <td th:text="${account.address.state}"></td>
                                                            </tr>
                                                        </table>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingFour">
                                                <h4 class="panel-title">
                                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                                        <i class="zmdi zmdi-home"></i>
                                                       <span>My personal information</span>
                                                    </a>
                                                </h4>
                                            </div>
                                            <table class="table">
                                            <tr>
                                                <td th:text="UserName "></td>
                                                <td th:text="${account.userName}"></td>
                                            </tr>
                                            <tr>
                                                <td th:text="Email "></td>
                                                <td th:text="${account.email}"></td>
                                            </tr>
                                            </table>
                                        </div>
                                    </div>
                                        </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Of Wishlist Area -->
    
                
                <!-- Start Newsletter Area -->
                <div class="newsletter-area">
                    <div class="container">
                        <div class="row">
                            <div class="newsletter-content default-bg clearfix ptb-40">
                                <div class="col-md-offset-2 col-md-3 col-sm-5">
                                    <div class="newsletter-title text-white text-uppercase">
                                        <h4>NewsLetter Sign-Up</h4>
                                    </div>
                                </div>
                                <div class="col-md-5 col-sm-7">
                                    <div class="signup-form">
                                        <form class="news-form" action="#">
                                            <input type="text" placeholder="Enter your email address..." class="f-form">
                                            <button class="submit text-uppercase">subscribe</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                </div>
                <!-- End Of Newsletter Area -->
            </section>
            <!-- End page content -->
        </th:block>
        
        <th:block layout:fragment="footer">
                <title>My Account || Freak</title> 
        </th:block>
</body>

</html>